@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nd-content {
  margin: 2% auto;
  padding: 0 15px;
  box-sizing: border-box;
  max-width: 1332.09px;
  font-family: "Segoe UI";
}

/* Tab section end  */

.nd-tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #dee2e6;
  font-size: 14px;
}

.nd-tabs a {
  font-family: "Titillium Web", sans-serif;
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  transition: background-color 0.3s;
  border: 1px solid #dee2e600;
}

.nd-tabs a:hover {
  border: 1px solid #dee2e6;
  border-radius: 6px 6px 0 0;
  color: #2c93e8;
}

.nd-tabs a.active {
  color: #0862ae !important;
  font-weight: bold;
  border-radius: 6px 6px 0 0;
  background: white;
  border: 1px solid #dee2e6;
  border-bottom: 0;
}

.nd-tab-content {
  display: none;
}

.nd-tab-content.active {
  display: block;
}


/* Mobile Tab */

.nd-tabs-m {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #dee2e6;
  font-size: 14px;
}

.nd-tabs-m a {
  font-family: "Titillium Web", sans-serif;
  text-decoration: none;
  color: #000;
  padding: 8px 8px;
  transition: background-color 0.1s;
  border: 1px solid #dee2e600;
}

.nd-tabs-m a:hover {
  border: 1px solid #dee2e6;
  border-radius: 4px 4px 0 0;
  color: #2c93e8;
}

.nd-tabs-m a.active {
  color: #0862ae !important;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
  background: #33A3DC;
  border: 1px solid #dee2e6;
  border-bottom: 0;
}

/* Tab bar section end  */


/* Feature section start from here  */

/* utill style start */
.nd-cus_div_style,
.nd-single_tvc {
  position: relative;
}

.nd-ml-auto,
.nd-mx-auto {
  margin-left: auto !important;
}

.nd-mr-auto,
.nd-mx-auto {
  margin-right: auto !important;
}

.nd-d-block {
  display: block !important;
}

.nd-img-fluid {
  max-width: 100%;
  height: auto;
}

.nd-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.nd-col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.nd-col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.nd-col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.nd-col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.nd-col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.nd-col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.nd-col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.nd-col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.nd-col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.nd-col,
.nd-col-1,
.nd-col-10,
.nd-col-11,
.nd-col-12,
.nd-col-2,
.nd-col-3,
.nd-col-4,
.nd-col-5,
.nd-col-6,
.nd-col-7,
.nd-col-8,
.nd-col-9,
.nd-col-auto,
.nd-col-lg,
.nd-col-lg-1,
.nd-col-lg-10,
.nd-col-lg-11,
.nd-col-lg-12,
.nd-col-lg-2,
.nd-col-lg-3,
.nd-col-lg-4,
.nd-col-lg-5,
.nd-col-lg-6,
.nd-col-lg-7,
.nd-col-lg-8,
.nd-col-lg-9,
.nd-col-lg-auto,
.nd-col-md,
.nd-col-md-1,
.nd-col-md-10,
.nd-col-md-11,
.nd-col-md-12,
.nd-col-md-2,
.nd-col-md-3,
.nd-col-md-4,
.nd-col-md-5,
.nd-col-md-6,
.nd-col-md-7,
.nd-col-md-8,
.nd-col-md-9,
.nd-col-md-auto,
.nd-col-sm,
.nd-col-sm-1,
.nd-col-sm-10,
.nd-col-sm-11,
.nd-col-sm-12,
.nd-col-sm-2,
.nd-col-sm-3,
.nd-col-sm-4,
.nd-col-sm-5,
.nd-col-sm-6,
.nd-col-sm-7,
.nd-col-sm-8,
.nd-col-sm-9,
.nd-col-sm-auto,
.nd-col-xl,
.nd-col-xl-1,
.nd-col-xl-10,
.nd-col-xl-11,
.nd-col-xl-12,
.nd-col-xl-2,
.nd-col-xl-3,
.nd-col-xl-4,
.nd-col-xl-5,
.nd-col-xl-6,
.nd-col-xl-7,
.nd-col-xl-8,
.nd-col-xl-9,
.nd-col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* utill style end */



/* hover state start  */


.nd-image-zoom-effect {
  transition: transform .7s;
}

.nd-image-zoom-effect:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
}

/* hover state end  */


/* animation style started from here  */



.nd-zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

.nd-animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.nd-bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@keyframes bounceInUp {

  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

/* animation style stoped from here  */

.nd-part-meet-the-supreme {
  position: relative;
}

.nd-part-meet-the-supreme-content {
  position: absolute;
  top: 0%;
  padding: 0px;
  width: 99%;
  font-family: "Trebuchet MS", "sans-serif";
  font-stretch: extra-condensed;
}

.nd-part-meet-the-supreme-left-content {
  position: absolute;
  width: 73%;
  top: 0%;
  left: 20%;
  padding: 9% 0 0 0;
}

.nd-part-meet-the-supreme-right-content {
  position: absolute;
  width: 50%;
}

.nd-meet-the-supreme-2-1-bg {
  background: url('https://waltonbd.com/image/catalog/refrigerator-and-freezer/non-frost-refrigerator/wni-6a9-gdsd-dd/features/mobile-view/supreme-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nd-part-meet-the-supreme-m-content {
  text-align: center;
  padding: 30px 20px 20px 20px;
}

.nd-part-6a9 {
  position: relative;
}

.nd-part-6a9-content {
  position: absolute;
  top: 0%;
  padding: 0px;
  width: 99%;
  font-family: "Trebuchet MS", "sans-serif";
}

.nd-nd-6a9-3-1-bg {
  background: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nd-part-6a9-m-content {
  color: #fff;
  text-align: center;
  padding: 20px;
}



.nd-part-super-freezing {
  position: relative;
}

.nd-part-super-freezing-content {
  position: absolute;
  width: 100%;
  top: 0;
  font-family: "Trebuchet MS", "sans-serif";
}

.nd-super-freezing-1-bg {
  background: url('https://waltonbd.com/image/catalog/refrigerator-and-freezer/non-frost-refrigerator/wni-6a9-gdsd-dd/features/mobile-view/super-freezing-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nd-part-super-freezing-m-content {
  text-align: center;
  padding: 30px 20px 20px 20px;
}


.nd-part-digital-display {
  position: relative;

}

.nd-part-digital-display-content {
  position: absolute;
  top: 4%;
  padding: 0px;
  width: 90%;
}

.nd-part-digital-display-right-content {
  position: absolute;
  top: 0%;
}

.nd-part-digital-display-left-content {
  position: absolute;
  top: 0%;
}

.nd-digital-display-1-bg {
  background: url('https://waltonbd.com/image/catalog/refrigerator-and-freezer/non-frost-refrigerator/wni-6a9-gdsd-dd/features/mobile-view/digital-display-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nd-part-digital-display-m-content {
  text-align: center;
  padding: 30px 20px 20px 20px;
}

.nd-part-big-storage {
  position: relative;

}

.nd-part-big-storage-content {
  position: absolute;
  top: 0;
  padding: 0px;
  width: 90%;
}

.nd-part-big-storage-left-content {
  position: absolute;
  top: 0%;
}

.nd-part-big-storage-right-content {
  width: 100%;
  padding: 3% 0 0 32%;
}

.nd-big-storage-1-bg {
  background: url('https://waltonbd.com/image/catalog/refrigerator-and-freezer/non-frost-refrigerator/wni-6a9-gdsd-dd/features/mobile-view/big-storage-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nd-part-big-storage-m-content {
  text-align: center;
  padding: 30px 20px 20px 20px;
}

.nd-part-real-tempered-glass-door {
  position: relative;

}

.nd-part-real-tempered-glass-door-content {
  position: absolute;
  top: 0;
  padding: 0px;
  width: 90%;
}

.nd-part-real-tempered-glass-door-right-content {
  position: absolute;
  top: 0%;
  width: 100%;
}

.nd-real-tempered-glass-door-1-bg {
  background: url('https://waltonbd.com/image/catalog/refrigerator-and-freezer/non-frost-refrigerator/wni-6a9-gdsd-dd/features/mobile-view/real-tempered-glass-door-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nd-part-real-tempered-glass-door-m-content {
  text-align: center;
  padding: 30px 20px 20px 20px;
}

.nd-part-child-lock {
  position: relative;

}

.nd-part-child-lock-content {
  position: absolute;
  top: 4%;
  padding: 0px;
  width: 90%;
}

.nd-part-child-lock-right-content {
  position: absolute;
  top: 0%;
}

.nd-part-child-lock-left-content {
  position: absolute;
  top: 0%;
}

.nd-child-lock-1-bg {
  background: url('https://waltonbd.com/image/catalog/refrigerator-and-freezer/non-frost-refrigerator/wni-6a9-gdsd-dd/features/mobile-view/child-lock-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nd-part-child-lock-m-content {
  text-align: center;
  padding: 30px 20px 20px 20px;
}

.nd-part-wide-voltage-design {
  position: relative;

}

.nd-part-wide-voltage-design-content {
  position: absolute;
  top: 0;
  padding: 0px;
  width: 90%;
}

.nd-part-wide-voltage-design-right-content {
  position: absolute;
  top: 0%;
  width: 100%;
}

.nd-wide-voltage-design-1-bg {
  background: url('https://waltonbd.com/image/catalog/refrigerator-and-freezer/non-frost-refrigerator/wni-6a9-gdsd-dd/features/mobile-view/wide-voltage-design-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nd-part-wide-voltage-design-m-content {
  text-align: center;
  padding: 30px 20px 20px 20px;
}


.nd-part-intelligent-inverter {
  position: relative;

}

.nd-part-intelligent-inverter-content {
  position: absolute;
  top: 4%;
  padding: 0px;
  width: 90%;
}

.nd-part-intelligent-inverter-right-content {
  position: absolute;
  top: 0%;
}

.nd-part-intelligent-inverter-left-content {
  position: absolute;
  top: 0%;
}

.nd-intelligent-inverter-1-bg {
  background: url('https://waltonbd.com/image/catalog/refrigerator-and-freezer/non-frost-refrigerator/wni-6a9-gdsd-dd/features/mobile-view/intelligent-inverter-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nd-part-intelligent-inverter-m-content {
  text-align: center;
  padding: 30px 20px 20px 20px;
}

.nd-part-intelligent-germ-terminator {
  position: relative;

}

.nd-part-intelligent-germ-terminator-content {
  position: absolute;
  top: 0;
  padding: 0px;
  width: 90%;
}

.nd-part-intelligent-germ-terminator-right-content {
  padding: 9% 0 0 0;
}

.nd-intelligent-germ-terminator-1-bg {
  background: url('https://waltonbd.com/image/catalog/refrigerator-and-freezer/non-frost-refrigerator/wni-6a9-gdsd-dd/features/mobile-view/igt-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nd-part-intelligent-germ-terminator-m-content {
  text-align: center;
  padding: 30px 20px 20px 20px;
}

.nd-part-iot {
  position: relative;

}

.nd-part-iot-content {
  position: absolute;
  top: 0;
  padding: 0px;
  width: 90%;
}

.nd-part-iot-right-content {
  padding: 15% 0 0 0;
}

.nd-iot-1-bg {
  background: url('https://waltonbd.com/image/catalog/refrigerator-and-freezer/non-frost-refrigerator/wni-6a9-gdsd-dd/features/mobile-view/iot-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nd-part-iot-m-content {
  text-align: center;
  padding: 30px 20px 20px 20px;
}

.nd-part-dual-control {
  position: relative;

}

.nd-part-dual-control-content {
  position: absolute;
  top: 0;
  padding: 0px;
  width: 90%;
}

.nd-part-dual-control-right-content {
  padding: 0;
}

.nd-dual-control-1-bg {
  background: url('https://waltonbd.com/image/catalog/refrigerator-and-freezer/non-frost-refrigerator/wni-6a9-gdsd-dd/features/mobile-view/dual-control-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nd-part-dual-control-m-content {
  text-align: center;
  padding: 30px 20px 20px 20px;
}


.nd-part-holiday-mode {
  position: relative;

}

.nd-part-holiday-mode-content {
  position: absolute;
  top: 0;
  padding: 0px;
  width: 90%;
}

.nd-part-holiday-mode-right-content {
  padding: 15% 0 0 0;
}

.nd-holiday-mode-1-bg {
  background: url('https://waltonbd.com/image/catalog/refrigerator-and-freezer/non-frost-refrigerator/wni-6a9-gdsd-dd/features/mobile-view/holiday-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nd-part-holiday-mode-m-content {
  text-align: center;
  padding: 0px 20px 274px 20px;
}

.nd-delay-250ms {
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms;
}

.nd-delay-500ms {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

.nd-delay-700ms {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}

.nd-delay-1400ms {
  -webkit-animation-delay: 1900ms;
  animation-delay: 1900ms;
}

.nd-delay-1500ms {
  -webkit-animation-delay: 1900ms;
  animation-delay: 1900ms;
}

.nd-digital {
  color: #fff;
}

.nd-display {
  background: linear-gradient(90deg, rgba(137, 137, 137, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(137, 137, 137, 1) 100%);
  border-radius: 3px;
  padding: 0 2px;
  border: 2px solid rgba(137, 137, 137, 1) 50%;
}

.nd-bigger-better-smarter {
  background: linear-gradient(90deg, rgba(137, 137, 137, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(137, 137, 137, 1) 100%);
  border-radius: 3px;
  padding: 0 2px;
  border: 2px solid rgba(137, 137, 137, 1) 50%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.nd-child {
  background: linear-gradient(90deg, rgba(137, 137, 137, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(137, 137, 137, 1) 100%);
  border-radius: 3px;
  padding: 0 2px;
  border: 2px solid rgba(137, 137, 137, 1) 50%;
}

.nd-lock {
  color: #fff;
}

/* style from tag started */
.nd-h1,
.nd-h2,
.nd-h3,
.nd-h4,
.nd-h5,
.nd-h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.nd-p {
  font-family: Titillium Web;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* style from tag stoped */











/* responsive start from here */

@media (min-width: 768px) {
  .nd-desktop-show {
    display: block;
  }

  .nd-mobile-show {
    display: none;
  }

}

@media (max-width: 768px) {
  .nd-desktop-show {
    display: none;
  }

  .nd-mobile-show {
    display: block;
  }

  .nd-content {
    margin: 0;
    padding: 0;
    max-width: 1332.09px;
    font-family: "Segoe UI";
  }

  
  .nd-img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  .nd-h4 {
    font-size: 1.5rem;
  }

  .nd-h5 {
    font-size: 1.25rem;
  }

  .nd-h6 {
    font-size: 1rem;
  }

  .nd-h1,
  .nd-h2,
  .nd-h3,
  .nd-h4,
  .nd-h5,
  .nd-h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .nd-h1,
  .nd-h2,
  .nd-h3,
  .nd-h4,
  .nd-h5,
  .nd-h6 {
    /* margin: 0 0 20px 0; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    color: #333;
    text-transform: none;
  }

  .nd-p {
    font-family: Titillium Web;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 14px;
    margin: 0 0 20px 0;
    line-height: 25px;
    font-weight: 400;
  }
}



/* responsive end */